body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#container {
  text-align: center;
  width: 100%;
  max-width: 600px;
  position: relative;
}

img#daily-photo {
  width: auto;
  height: 100vh;
  object-fit: cover;
}
#logo-hotspot {
  position: absolute;
  bottom: 8%;
  left: 30%;
  width: 40%;
  height: 10%;
  cursor: pointer;
  z-index: 10;
}

/* Dropdown animation styling */
#dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, 20px);
  background: #000;
  border: 1px solid #ccc;
  padding: 0.5rem;
  z-index: 20;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#dropdown.show {
  opacity: 1;
  transform: translate(-50%, 0px);
  pointer-events: auto;
}

#dropdown button {
  background: none;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
